.fp-list {
    margin-left: 16.9270833333333%;
    margin-right: 16.9270833333333%;
    opacity: 100%
}

.fp-list .fp-left:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 0.5s;
}

.fp-list .fp-right:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 0.5s;
}

.fp-list .fp-center:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 0.5s;
}

.fp-left .fp-image {
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    position: relative;
    grid-column: 1;
}

.fp-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fp-left img {
    width: 100%;
}

.fp-right .fp-image {
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    position: relative;
    grid-column: 2;
}

.fp-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

.fp-right img {
    width: 100%;
}

.fp-center {
    display: grid;
    margin-bottom: 5%;
}

.fp-center img {
    width: 100%
}

.fp-left .fp-text {
    grid-column: 2;
}

h3 {
    color: white;
    font-size: medium;
    font-family: roc-grotesk;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    }
    
p {
    color: white;
    font-size: small;
    font-family: roc-grotesk;
    margin-top: 0;
    padding-left: 2px;
    padding-right: 2px;
}
    