@font-face {
    font-family: 'DC-Med';
    src: url(../Fonts/DiodrumCyrillic-Medium.ttf),
    url(../Fonts/DiodrumCyrillic-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'DC-Reg';
    src: url(../Fonts/DiodrumCyrillic-Regular.ttf),
    url(../Fonts/DiodrumCyrillic-Regular.ttf) format("truetype");
}

body {
    background-color: #101010;
}

nav {
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
}

a.logo {
    display: inline-block;
    width: 75px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

nav ul {
    margin: 0;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
    font-family: DC-Med;
    line-height: 35px;
    font-size: 14px;
}

nav ul li a.text {
    text-decoration: none;
    padding-left: 7px;
    color: white;
}

nav ul li a.text:hover {
    color: #00973F;
    text-decoration: none;
    transition: 0.5s;
}

p {
    color: white;
    font-family: DC-Reg;
    text-align: center;
}

h3 {
    color: white;
    font-family: DC-Med;
    text-align: center;
}

.container {
    justify-content: center;
    display: flex;
    max-width: 1850px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer {
    font-family: Dc-Reg;
    font-size: small;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: small;
    padding-top: 0px;
}

footer a:hover {
    color: #00973F;
    text-decoration: none;
    transition: 0.5s;
}
