body {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-family: forma-djr-display, sans-serif;
}

table {
    border: 3px solid #F4F4F4;
    caption-side: bottom;
    border-collapse: collapse;
}

thead {
    text-align: center;
    border: 3px none #F4F4F4;
}

td {
    border: 3px none #F4F4F4;
    font-weight: 500;
}

caption {
    font-style: italic;
    padding-top: 7px;
    font-weight: 500;

}

button {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    background-color: #F4F4F4;
    border: thin dotted #F4F4F4;
}
button:hover {
    transition: 1s;
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    background-color: #F4F4F4;
    border: thin dotted black;
}

a {
    color: #EA0000;
    text-decoration: none;
}

a:hover {
    color: #EA0000;
    text-decoration: underline;
}

center {
    text-align: center;
}

.logo {
    padding-top: 10px;
}

.menu {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 13px;
}

.title {
    color: black;
    font-size: 15px;
    margin: 0;
}

.content {
    padding-right: 10px;
    font-size: 13px;
}

.footer {
    padding: 10px;
    font-size: 11px;
}

p {
    font-size: 13px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

h4 {
    font-size: 15px;

}

.left {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.right {
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.horizontal {
    padding: 0 !important;
}

.middle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
