.fp-list {
    margin-left: 16.9270833333333%;
    margin-right: 16.9270833333333%;
    opacity: 100%
}

.fp-list div:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 0.5s;
}

.fp-image {
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    position: relative;
    grid-area: 'img';
}

.fp-left {
    display: grid;
    grid-template-areas:
    'img fp-text'
    'img';
}

.fp-left img {
    width: 44.2708333333333%;
}

.fp-right img {
    width: 44.2708333333333%;
}

.fp-center img {
    width: 66.1458333333333%;
}

.fp-text {
    grid-area: 'fp-text';
    position: relative;
}

h3 {
    color: white;
    font-size: medium;
    font-family: roc-grotesk;
    font-weight: 500;
    margin-bottom: 0;
    }
    
p {
    color: white;
    font-size: small;
    font-family: roc-grotesk;
    margin-top: 0
}
    